lisp/enfer*.el
lisp/init*.el
lisp/lib*.el
lisp/config*.el
lisp/dash*.el
custom.el
*~
eln-cache/
.org-id-locations
\#*

# Added automatically by ‘eldev init’.
/.eldev
/Eldev-local

# straight downloads
etc/
straight/
var/
places
projectile-bookmarks.eld
smex-items
undo_fu_sessions/
emojis/
